@model IEnumerable<AdoptifySystem.Models.Event_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Guest_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Ticket_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Type.Event_Type_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Guest_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Ticket_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Type.Event_Type_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Event_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Event_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Event_ID })
        </td>
    </tr>
}

</table>
